<header></header>
<app-menu></app-menu>
<div id="component">
    <div id="heading">
        <span id="pageTitle">User List</span> |
        <a routerLink="/user/create">New</a> |
        <input [(ngModel)]="searchCriteria" type="text" placeholder="Search">
    </div>
    <hr>

    <main>
        <table class="table table-striped table table-s">
            <thead>
                <tr>
                    <th> <button (click)="selectColumn('id')" class="btn btn-link">Id:</button></th>
                    <th> <button (click)="selectColumn('username')" class="btn btn-link">Username:</button></th>
                    <th> <button (click)="selectColumn('firstname')" class="btn btn-link">Firstname:</button></th>
                    <th> <button (click)="selectColumn('lastname')" class="btn btn-link">Lastname:</button></th>
                    <th> <button (click)="selectColumn('phone')" class="btn btn-link">Phone:</button></th>
                    <th> <button (click)="selectColumn('email')" class="btn btn-link">Email:</button></th>
                    <th> <button (click)="selectColumn('isReviewer')" class="btn btn-link">isReviewer:</button></th>
                    <th> <button (click)="selectColumn('isAdmin')" class="btn btn-link">isAdmin:</button></th>
                    <th>Actions:</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of users | userSearch: searchCriteria | sort: sortColumn: sortAsc">
                    <td>{{ u.id }}</td>
                    <td>{{ u.username }}</td>
                    <td>{{ u.firstname}}</td>
                    <td>{{ u.lastname}}</td>
                    <td>{{ u.email }}</td>
                    <td>{{ u.phone }}</td>
                    <td>{{ u.isReviewer | boolDisplay }}</td>
                    <td>{{ u.isAdmin | boolDisplay}}</td>
                    <td>
                        <a routerLink="/user/detail/{{ u.id }}">Detail</a> |
                        <a routerLink="/user/edit/{{ u.id }}">Edit</a> 
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</div>
<footer></footer>