<header></header>
<app-menu></app-menu>
<div>
    <span id="pageTitle">Requestline Create</span>
</div>
<table *ngIf="requestline" class="table table-sm">
    <tbody>
        <tr>
            <td>Id: </td>
            <td><input [(ngModel)]="requestline.id" type="number" disabled></td>
        </tr>
        <tr>
            <td>Product:</td>
            <td>
                <select [(ngModel)]="requestline.productId">
                    <option *ngFor="let p of products" value="{{p.id}}">{{p.name}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Quantity:</td>
            <td><input [(ngModel)]="requestline.quantity" type="number"></td>
        </tr>
    </tbody>
</table>
<div>
    <a routerLink="/request/lines/{{reqlId}}" class="btn btn-warning btn-sm">Back</a> | 
    <button (click)="save()" class="btn btn-primary btn-sm">Save</button>
</div>