<header></header>
<app-menu></app-menu>
<div id="component">
    <div id="heading">
        <span id="pageTitle">Request List | </span>
        <a routerLink="/request/create">New</a> |
        <input [(ngModel)]="searchCriteria" class="borderless" type="text" placeholder="Search">
    </div>
    <hr>

    <main>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th> <button (click)="selectColumn('id')" class="btn btn-link">Id:</button></th>
                    <th> <button (click)="selectColumn('description')" class="btn btn-link">Description:</button></th>
                    <th> <button (click)="selectColumn('justification')" class="btn btn-link">Justification:</button></th>
                    <th> <button (click)="selectColumn('rejectionReason')" class="btn btn-link">RejectionReason:</button></th>
                    <th> <button (click)="selectColumn('deliveryMode')" class="btn btn-link">DeliveryMode:</button></th>
                    <th> <button (click)="selectColumn('status')" class="btn btn-link">Status:</button></th>
                    <th> <button (click)="selectColumn('total')" class="btn btn-link">Total:</button></th>
                    <th> <button (click)="selectColumn('user')" class="btn btn-link">User:</button></th>
                    <th>Actions</th> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of requests | requestSearch: searchCriteria | sort: sortColumn: sortAsc">
                    <td>{{ r.id }} | </td>
                    <td>{{ r.description }}</td>
                    <td>{{ r.justification }}</td>
                    <td>{{ r.rejectionReason }}</td>
                    <td>{{ r.deliveryMode }}</td>
                    <td>{{ r.status }}</td>
                    <td>{{ r.total | currency }}</td>
                    <td>{{ r.user.username}}</td>
                    <td>
                        <a routerLink="/request/detail/{{ r.id }}">Detail</a> |
                        <a routerLink="/request/edit/{{ r.id }}">Edit</a>     |  
                        <a routerLink="/request/lines/{{ r.id }}">Lines</a>   |  
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</div>
<footer></footer>